@font-face {
    font-family: 'HelvNeue75';
    src: url('../fonts/HelvNeue75_W1G.woff2') format('woff2'),
         url('../fonts/HelvNeue75_W1G.woff') format('woff'),
         url('../fonts/HelvNeue75_W1G.ttf') format('truetype');
}

a, article, body, footer, form, h1, h2, h3, header, html, nav, p, section, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: HelvNeue75;
    vertical-align: baseline;
}

*, :after, :before {
    box-sizing: border-box;
}

li {
	display: inline;
}

html {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	min-height: 100%;
	min-width: 500px;
	background: url('../img/grey-background.png');
	background-size: 100% 100%;
	margin-top:66px;
	padding: 0;
}

.container {
	position: relative;
	margin: 0 15px;
}

.container-admin {
	height: 780px;
}

.container-form {
	overflow: hidden;
    padding : 60px 300px;
}

.container-form-admin {
	background-color: rgba(67, 72, 82, 0.6);
	padding: 20px;
    border: 2px solid;
    border-radius: 25px;
}

.form-control {
	height: 48px;
	padding: 0 20px;
	width:100%;
	position: relative;
	background-color: #3f4751;
	font-size: .9em;
	color: #fff;
	border-radius: 3px;
}
.form-control-selectable:hover {
	color: Black;
	border-color: Black;
}

.topbar {
	position:fixed;
	top:0;
	left: 0;
	right: 0;
	height:66px;
	width: 100%;
	min-width: 1000px;
	z-index: 1000;
	background: #404852;
}

.topbar-logo {
	float: left;
	display: block;
	height: 66px;
	width: 66px;
	padding-top: 18px;
	margin-right: 15px;
	background : url('../img/flux.jpg') no-repeat;
	background-size: 100% 100%;
	text-align: center;
}

.topbar-menu  {
	float: left;
}

.pseudo-topbar {
	vertical-align: middle;
	font-size: 25px;
	color: #78ab4e;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

li.dropdown {
    display: inline-block;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
}

.dropdown-content a {
    padding: 12px 16px;
    background-color: #404852;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topbar-menu a {
    height: 66px;
    padding: 0 15px;
    line-height: 66px;
    color: #6d7a8b;
    font-weight: 700;
    text-decoration: none;
}
.topbar-menu a:hover {
	color: white;
}

.topbar-right {
	float: right;
	padding: auto;
	height:66px;
	vertical-align: baseline;
}

.btn {
	margin: 14px 14px 0 0;
    line-height: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none!important;
    background-color: #78ab4e;
    border: 2px solid transparent;
    border-radius: 3px; 
}

.btn_block {
	width: 100%;
	font-size: 14px;
	cursor: pointer;
}

.formConnexion {
	margin-bottom: 0px;
}

.form-group {
	margin-bottom: 2rem;
	position: relative;
}

.title {
	text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
}

.lien-categorie {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.discipline-container {
	display: flex;
	position: relative;
	width: 100%;
	height: auto;
	padding : 10px 10px;
	margin: 0 20px 30px 0;
	background-color: lightgrey;
	border:solid;
	border-radius: 25px;
}

.textarea-disc {
	height:200px; 
	font-family: Arial !important;
}

.listbox-disc {
	width: 200px;
	margin-left: 50px;
	float: right;
	cursor: pointer;
}

.texte-disc {
	margin : 10px 100px 10px 15px;
}

.titre-disc {
	font-size: 25px;
}

.btn_creerdisc {
	width : 200px;
}

.label-admin {
	color: #78ab4e;
	font-size: x-large;
}

.img-discipline {
	width: 250px;
	height: 250px;
	margin : auto;
	margin-right: inherit;
}

.title-container {
	text-align: center;
	margin: auto;
    padding: 25px 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f9f9f9;
	opacity: 0.5;
}

#main {
	padding:20px;
	margin: 0 auto;
   /*min-width:80vw;*/
   /*min-height:800px;*/
   width:1000px;
   height: 100%;
}

.container-circles {
	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
	padding: 20px;
	margin-top: 50px;
}

.container-circles div {
	vertical-align: middle;
	margin: auto;
}

.container-circles p {
	font-size: 30px;
}

.img-index {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin:25px 50px 10px 50px;
}

.main-form {
	padding: 20px 200px !important;
	height:auto !important;
}
   

.container-caroussel {
	position: relative;
	/*margin: 0 auto;*/
	margin: auto;
	/*width: 1000px;*/
	/*height: 500px;
	display: table-cell;
	vertical-align: bottom;*/
	background-color: white;
	margin-bottom: 50px;
	text-align: center;
}

.image-carousel {
	width: 400px;
	height: 400px;
	margin: 10px 0 10px 0;
}

.container-miniatures {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;
	background-color: lightgrey;
}

.miniature {
	margin: 10px 15px 10px 5px;
	height: 100px;
	width: 100px;
}

.footer {
	position: absolute;
	color: lightgrey;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	padding-top: 15px;
	text-align: center; 
	font-size: .9em;
	background-color: #404852;
	border-top: 3px solid #404852;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
	font-family: HelvNeue75;
	font-weight: normal;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 12px 16px;
	cursor: pointer;
	width: 160px;
	background-color: #78AB4E;
}
.custom-file-upload:hover {
	color: Black;
    border-color: Black;
}
.custom-file-upload-name {
	font-family: HelvNeue75;
	font-weight: normal;
	color: Silver;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 12px 16px;
	cursor: pointer;
	width: 400px;
}